base.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="base" targetNamespace="base" elementFormDefault="qualified">
  <xs:element name="CustomComponent" abstract="true"/>

  <xs:simpleType name="ExprString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\{.*\}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ContainerType">
    <xs:sequence>
      <xs:element name="ItemTemplate" type="ItemTemplateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CustomComponent" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ItemTemplateType">
    <xs:sequence>
      <xs:element name="Container" type="ContainerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="source" type="ExprString" use="required"/>
  </xs:complexType>

  <xs:element name="Layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Container" type="ContainerType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
